canvas{
	background: #ddd;
	display: block;
	margin: 50px auto;
	box-shadow: -2px -2px 2px #BFBFBF,5px 5px 5px #B9B9B9;
	-moz-box-shadow: -2px -2px 2px #BFBFBF,5px 5px 5px #B9B9B9;
	-webkit-box-shadow: -2px -2px 2px #BFBFBF,5px 5px 5px #B9B9B9;
	-o-box-shadow: -2px -2px 2px #BFBFBF,5px 5px 5px #B9B9B9;
	-ms-box-shadow: -2px -2px 2px #BFBFBF,5px 5px 5px #B9B9B9;
}